[Unit]
Description=Mimic frontend socket

[Socket]
ListenStream=%t/mimic/mimic.socket
SocketMode=0600
DirectoryMode=0700
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
